@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1f2937;
  --primary: #6956e3;
  --primary-hover: #7c3aed;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE, Edge */
  overscroll-behavior: none; /* 오버스크롤 바운스 효과 제거 */
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

body {
  color: #1f2937;
  background: #ffffff;
  overflow-x: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE, Edge */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none; /* 오버스크롤 바운스 효과 제거 */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* 스냅 섹션 높이 dvh 적용 */
.snap-section {
  scroll-snap-align: start;
  min-height: 100dvh;
  width: 100vw;
  position: relative;
}
